html {
    background-image: url('Pictures/Back1.png');
    background-size: cover; 
    background-position: center top; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

  
.mute-button {
    position: fixed;
    right: 10px; 
    bottom: 10px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 5px; 
    padding: 15px 20px; 
    cursor: pointer; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(255, 15, 15, 0.811);
}
  
  
.mute-button svg {
    vertical-align: middle;
}

.heone {
    text-align: center;
    color: #ffffff;
}

.container {
    background-color: rgb(73, 67, 67);
} 

body {
    background-color: rgb(73, 67, 67) !important;
}
